body {
  background-color:green;
}

h1 {
  text-decoration: underline;
  text-align: center;
}
h2 {
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: red;
  background-color: blue;
}
th {
  color: none;
  border: none;
}
